<div class="grid grid-cols-12 gap-8">
    @if (conectado) {
        <div class="card col-span-12 xl:col-span-12">
            <div class="font-semibold text-xl mb-4">Pressão da Mão</div>
            <div class="grid grid-cols-12 gap-8">
                <div class="col-span-12 xl:col-span-6" style="display: flex; justify-content: center;">
                    <div style="aspect-ratio: 1; max-width: 500px; width: 100%;">
                        <app-mapa-de-calor #mapaCalor [dimensoes]="mapaDeCalorDimensoes" [dados]="mapaDeCalor"></app-mapa-de-calor>
                    </div>
                </div>
                <div class="col-span-12 xl:col-span-6">
                    <p-table [value]="metricas">
                        <ng-template #header>
                            <tr>
                                <th>Métrica</th>
                                <th>Valor</th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-metrica>
                            <tr>
                                <td>{{metrica.nome}}</td>
                                <td>{{metrica.valor}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    }
    <div class="col-span-12" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        @if (!conectado){
            <p>Conecte o dispositivo a uma porta USB</p>
        }
        <p-button 
            [label]="conectado ? 'Desconectar' : 'Conectar'" 
            [icon]="conectado ? 'pi pi-times' : 'pi pi-arrow-right-arrow-left'"
            [severity]="conectado ? 'danger' : 'primary'"
            (click)="conectado ? desconectar() : conectar()"
        ></p-button>
    </div>
</div>