<div class="grid grid-cols-12 gap-8">
    @if (conectado) {
        <div class="card col-span-12 xl:col-span-12">
            <div class="font-semibold text-xl mb-4">Pressão da Mão</div>
            <div class="grid grid-cols-12 gap-8 mb-8">
                <div class="col-span-12 xl:col-span-6" style="display: flex; justify-content: center;">
                    <div style="aspect-ratio: 1; max-width: 500px; width: 100%;">
                        <app-mapa-de-calor #mapaCalor [dimensoes]="mapaDeCalorDimensoes" [dados]="mapaDeCalor"></app-mapa-de-calor>
                    </div>
                </div>
                <div class="col-span-12 xl:col-span-6">
                    <p-table [value]="metricas">
                        <ng-template #header>
                            <tr>
                                <th>Métrica</th>
                                <th>Valor</th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-metrica>
                            <tr>
                                <td>{{metrica.nome}}</td>
                                <td>{{metrica.valor}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div class="flex w-full justify-center">
                <p-button 
                    label="Desconectar" 
                    icon="pi pi-times"
                    severity="danger"
                    (click)="desconectar()"
                ></p-button>
            </div>
        </div>
    }
    @if (!conectado){
        <div class="card col-span-12 flex flex-col items-center">
            <div class="mb-10">Conecte o dispositivo a uma porta USB</div>
            <div class="flex gap-2 mb-8">
                <div class="flex-auto">
                    <label class="mb-2 font-bold block" for="largura">Largura</label>
                    <p-inputnumber #inputLargura="ngModel" inputId="largura" [required]="true" [(ngModel)]="mapaDeCalorDimensoes.x" />
                </div>
                <div class="flex-auto">
                    <label class="mb-2 font-bold block" for="altura">Altura</label>
                    <p-inputnumber #inputAltura="ngModel" inputId="altura" [required]="true" [(ngModel)]="mapaDeCalorDimensoes.y" />
                </div>
                <div class="flex-auto">
                    <label class="mb-2 font-bold block" for="fps">Taxa de Quadros (Hz)</label>
                    <p-inputnumber #inputFps="ngModel" inputId="fps" [required]="true" mode="decimal" [minFractionDigits]="1" [(ngModel)]="fps" />
                </div>
                <div class="flex-auto">
                    <label class="mb-2 font-bold block" for="baudRate">Taxa de Transmissão</label>
                    <p-select fluid inputId="baudRate" [(ngModel)]="baudRateOpcao" [options]="baudRateOpcoes" optionLabel="name" />
                </div>
            </div>
            <p-button 
                [disabled]="inputAltura.invalid || inputLargura.invalid || inputFps.invalid"
                label="Conectar" 
                icon="pi pi-arrow-right-arrow-left"
                severity="primary"
                (click)="conectar()"
            ></p-button>
        </div>
    }
</div>